// Common
@import "common/_vars";
@import "common/_mixins";
@import "common/_reset";
@import "common/_utils";
// UI
@import "ui/_button";
@import "ui/_form";
@import "ui/_inputs";
@import "ui/_loader";
@import "ui/_modal";
@import "ui/_notifications";
@import "ui/_alert";
// Components
@import "components/_navbar";
@import "components/_userprofile";
@import "components/_comments";
@import "components/_top-scores-chart";
@import "components/_circle-charts";
@import "components/_radar";
// Pages
@import "pages/chart";
@import "pages/profile";
@import "pages/choose-role-page";
@import "pages/share-opinion";
@import "pages/staff";
@import "pages/opinion-details";


// TODO: Add code splitting.
// TODO: Reorganize styling and prepare it for adaptive layout.
// TODO: Make another file for styling svg and one more for export.
// NOTES: Font size(line height): 24(30), 20(28), 16(20/22), 13(18/13), 14(22)


* {
  box-sizing: border-box;
}

body {
  background-color: @primary-bg-color;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
}

p, a, span, label, input {
  font-family: 'Muli', sans-serif;
}

input {
  outline: none;
  border: none;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: @container-width;
}

.app-wrap {
  position: relative;
  min-height: 100vh;
  display: flex;
  padding-top: 60px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: -60px;
}

.page {
  height: 100%;
  overflow-y: auto;
}

.decor {
  position: absolute;
  z-index: -1;

  &-rt {
    top: 0;
    right: 0;
  }

  &-lb {
    bottom: 0;
    left: 0;
  }
}

.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.uppercase {
  text-transform: uppercase;
}

.p-absolute {
  position: absolute;
}

.cursor-pointer {
  cursor: pointer;
}

.disable-events {
  pointer-events: none !important;
}

.translate-center {
  transform: translate(-50%, -50%);
}

.jc-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-header {
  width: 100%;
  height: 8.75rem;
  background: linear-gradient(322.07deg, #51B7EF 0%, #1974B2 100%);
  padding: 1.25rem;
  color: white;
  top: 0;
  left: 0;
  margin-bottom: -5.25rem;
}


.avatar {
  overflow: hidden;
  position: relative;

  &.circle {
    border-radius: 50%;
  }

  img {
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.info-cards {
  position: relative;

  .body {
    position: relative;
    padding: 1rem;

    h1 {
      color: white;
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    .block {
      padding: 1rem;
      cursor: pointer;
      background: white;
      margin-bottom: 1rem;
      position: relative;

      &:hover {
        box-shadow: 0 1px 2px 1px rgba(100, 100, 100, .1);
      }

      .avatar {
        width: 75px;
        height: 75px;
      }

      .name {
        margin-bottom: 0.5rem;

        h2 {
          font-size: 1rem;
          margin-right: 0.5rem;
        }

        .confirmed {
          position: relative;
          width: 1rem;
          height: 1rem;
          color: white;

          * {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .bg-line {
            height: 100%;
            width: 30%;
            border-radius: 0.5rem;
            background-color: #14CEA5;
            display: block;


            &:nth-child(2) {
              transform: translate(-50%, -50%) rotate(45deg);
            }

            &:nth-child(3) {
              transform: translate(-50%, -50%) rotate(90deg);
            }

            &:nth-child(4) {
              transform: translate(-50%, -50%) rotate(135deg);
            }
          }

          .check {
            font-size: 0.825rem;
          }
        }
      }

      .title {
        font-size: 0.825rem;
        color: #808FA3;
        margin-bottom: 0.5rem;
      }

      .description {
        font-weight: bold;
        font-size: 0.825rem;
      }

      .grades {
        display: flex;

        li {
          margin-right: 1rem;
          border-radius: 0.25rem;
          font-size: 0.75rem;
          font-weight: bold;
          letter-spacing: 0.5px;
          padding: 0.25rem 0.5rem;
        }
      }

      .ctru-score {
        position: absolute;
        right: 1.5rem;
        bottom: 1.5rem;

        .info {
          margin-right: 0.25rem;

          h2 {
            font-size: 0.825rem;
          }

          p {
            font-size: 0.75rem;
            color: #808FA3;
          }
        }

        .grade-circle {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          background-color: #33BCDB;

          .inner-circle {
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 50%;
            border: 1px solid white;
            color: white;
            font-size: 1.125rem;
          }
        }
      }

      .arrow {
        height: 3px;
        border: solid #808FA3;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
      }
    }

    .block-btn {
      color: #6F91BA;
      border: 1px solid #6F91BA;
      background: transparent;
      border-radius: 0.25rem;
      padding: 0.5rem 1rem;
      height: 2.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      min-height: auto;
      margin: 0 0 0 auto;
      min-width: auto;

      &:hover {
        color: #0377B8;
        border-color: #0377B8;
      }
    }

    .others-btn {
      min-width: auto;
      margin-left: 0;
      margin-right: auto;
    }
  }
}

.staff-block {
  table {
    width: 100%;

    th {
      font-size: 0.825rem;
      color: #808FA3;
      padding-bottom: 0.5rem;
    }

    td {
      padding: 0.75rem 0;
      border-bottom: 1px solid rgba(128, 143, 163, 0.31);
      color: #353535;

      .avatar {
        width: 40px;
        height: 40px;
        margin-right: 0.5rem;
      }

      .name {
        font-weight: bold;
      }

      .title {
        font-size: 0.825rem;
        color: #808FA3;
      }
    }
  }
}

.dashboard {
  position: relative;
}

.compare {
  padding: 0.5rem 0;

  .compare-line {
    &:not(:last-child) {
      margin-bottom: 4rem;
    }

    .title {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .profile-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      padding: 2rem;
      color: #353535;
      font-size: 0.875rem;

      .avatar {
        width: 116px;
        height: 116px;
        margin-bottom: 0.75rem;
      }

      .name {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        font-weight: bold;
      }

      .location {
        margin-bottom: 0.5rem;

        p {
          color: #808FA3;
        }

        svg {
          height: 0.75rem;
          fill: #808FA3;
          margin-right: 0.5rem;
        }
      }
    }

    hr {
      width: 1px;
      background: #E5E9EF;
      margin: 1rem 0;
    }

    .radars-wrapper {
      padding: 1rem 0;

      hr {
        top: 1rem;
        bottom: 1rem;
        position: absolute;
        transition: 2s ease-in-out;
        transition-delay: 1s;
      }

      .radar-wrapper {
        position: absolute;
        transition: 3s ease-in-out;

        &:nth-child(1) {
          width: 50%;
          left: 0;
        }

        &:nth-child(3) {
          width: 50%;
          left: 50%;
        }
      }

      &.overlay {
        hr {
          transition-delay: 0s;
          top: 50%;
          bottom: 50%;
        }

        .radar-wrapper {
          width: 100%;
          left: 0;
        }
      }
    }
  }

  .compare-scale-wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .compare-scale {
      display: flex;
      color: #353535;
      align-items: center;
      flex-direction: column;
      margin-bottom: 1.5rem;

      h1 {
        font-size: 1rem;
      }

      p {
        font-size: 1.25rem;
        position: absolute;
        font-weight: bold;

        &:first-child {
          left: -5rem;
        }

        &:last-child {
          right: -5rem;
        }

        span {
          font-size: 0.875rem;
          color: #3EA0DA;
        }
      }

      .legend {
        flex-grow: 1;
        height: 1rem;
        background: #F7F8FA;
        border-radius: 0.5rem;
        border: 1px solid #EBEEF3;
        position: relative;

        .left, .right, .separator {
          height: 100%;
          position: absolute;
        }

        .left {
          right: 50%;
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
        }

        .right {
          left: 50%;
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
        }

        .separator {
          width: 2px;
          background: #EBEEF3;
          transform: translateX(-50%);
          left: 50%;
        }
      }
    }
  }
}
