@primary-bg-color: #f7f8fa;
@secondary-bg-color: #3ea0da;
@secondary-bg-color-darken: #1ca6bd;

@font-color-dark: #353535;
@font-color-lighter: #808fa3;
@font-color-light: #e6e9ee;

@border-radius-block: 4px;
@border-block: 1px solid #e5e9ef;
