.button {
    border: none;
    min-height: 42px;
    min-width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: @border-radius-block;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

// Button.js
.component {
  &.btn {
    margin: 1rem auto;
    border: none;
    min-height: 42px;
    min-width: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: @border-radius-block;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    position: relative;

    &__submit {
      background-color: @secondary-bg-color;
      color: #fff;
      transition: background-color 0.2s;
      &:hover {
        background-color: @secondary-bg-color-darken;
      }

      &.is-loading {
        background-color: @button-bg-loading;
        color: @button-font-loading;
        transition: background-color 0.2s;
      }

      .preloader {
        .makeLoader(20px, @button-font-loading);
      }
    }
  }

  &.btn-full-block {
    position: sticky;
    background-color: @secondary-bg-color;
    bottom: 0px;
    left: 0;
    right: 0;
    min-height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
      background-color: transparent;
      border-radius: @border-radius-block;
      border: 2px solid @border-color-list;
      text-align: center;
      padding: 10px;
      color: white;
      font-size: 0.9rem;
      font-weight: bold;
      line-height: 20px;

      &:hover {
        background-color: @border-color-list;
        color: @secondary-bg-color
      }
      &:active {
        border: 2px solid @button-bg-dark-blue;
        background-color: @button-bg-dark-blue;
        color:white;
      }
    }

  }

}

