.text {
  &-center {
    text-align: center;
  }

  &-bold {
    font-weight: bold;
  }
}

.my {
  &-1 {
    margin: 1rem 0 !important;
  }

  &-2 {
    margin: 1.25rem 0 !important;
  }

  &-3 {
    margin: 1.5rem 0 !important;
  }

  &-4 {
    margin: 1.75rem 0 !important;
  }

  &-5 {
    margin: 2rem 0 !important;
  }
}

.mx {
  &-1 {
    margin: 0 1rem !important;
  }

  &-2 {
    margin: 0 1.25rem !important;
  }

  &-3 {
    margin: 0 1.5rem !important;
  }

  &-4 {
    margin: 0 1.75rem !important;
  }

  &-5 {
    margin: 0 2rem !important;
  }
}

.hidden {
  display: none;
}

.position-relative {
  position: relative;
}

d-flex {
  display: flex;
}

