@primary-bg-color: #f7f8fa;
@secondary-bg-color: #3ea0da;
@secondary-bg-color-darken: #1ca6bd;

@font-color-dark: #353535;
@font-color-lighter: #808fa3;
@font-color-light: #e6e9ee;
@font-color-blue: @secondary-bg-color;

@border-radius-block: 4px;
@border-block: 1px solid #e5e9ef;

@border-color-list: @font-color-light;

@button-bg-loading: #808fa3;
@button-font-loading: #ffffff;

@button-bg-dark-blue: #2175AE;

@button-bg-dark-blue_hover: @secondary-bg-color;

@alert-color-red: #EF5050;
@alert-color-green: #22C39A;
@alert-color-blue: #0676B3;


