@primary-bg-color: #f7f8fa;
@secondary-bg-color: #3ea0da;
@secondary-bg-color-darken: #1ca6bd;
@sd:#7691B6;
@sidebar-bg-color: #2D3E50;
@sidebar-bg-active-color: #15202b;
@sidebar-bg-color_hover: #203448;

@modal-bg-color: rgba(0, 0, 0, 0.3);

@font-color-dark: #353535;
@font-color-lighter: #808fa3;
@font-color-light: #e6e9ee;
@font-color-blue: @secondary-bg-color;

@border-radius-block: 4px;
@border-block: 1px solid #e5e9ef;

@border-color-list: @font-color-light;

@button-bg-loading: @font-color-lighter;
@button-font-loading: #ffffff;

@button-bg-dark-blue: #2175AE;
@button-bg-dark-blue_hover: @secondary-bg-color;

@button-bg-dark-gray: @font-color-lighter;

@alert-color-red: #EF5050;
@alert-color-green: #22C39A;
@alert-color-blue: #0676B3;

@chart-point-median: #7691B6;
@chart-point-my: #00BFDF;

@z-index-state-default:     1;
@z-index-state-hover:       2;
@z-index-state-active:      3;

@z-index-black-overlay:     990;
@z-index-dropdown:          1000;
@z-index-sticky:            1020;
@z-index-fixed:             1030;
@z-index-modal-backdrop:    1040;
@z-index-modal:             1050;
@z-index-popover:           1060;
@z-index-tooltip:           1070;

@container-width: 1200px;

// Criteria colors with id
@caring-color: #69BE60; // 1
@convenient-color: #FFAF5F; // 2
@creative-color: #F07E68; // 3
@clear-color: #EF6363; // 4
@cost-conscious-color: #B96E9F; // 5
@compensating-color: #8E97F1; // 6
@confident-color: #4CB1E9; // 7
@courtegious-color: #13BE99; // 8

// Aspect colors with id
@aspect-process: #FACF55; // 1
@aspect-rational: #F57575; // 2
@aspect-result: #B96CE3; // 3
@aspect-feeling: #5EBB6B; // 4




