.grade-circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #33BCDB;

  .inner-circle {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
  }
}
