// Top bar
.nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 13px 22px;
  z-index: 999;

  &.nav-bar-profile {
    border: 0.5px solid #E6E9EE;
    background-color: #FFFFFF;
    display: flex;


    .search, button:not(.menu-btn) {
      margin-right: 24px;
    }

    .search {
      height: 60px;
      position: relative;
      flex-grow: 1;

      svg {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 24px;
        color: #808FA3;
        height: 16px;
      }

      input {
        height: 100%;
        width: 100%;
        padding-left: 50px;
        border: 0.5px solid #E6E9EE;
        border-right: none;
        font-size: 16px;
        color: #808FA3;
      }
    }

    .share-opinion-btn {
      margin-right: 24px;
      padding: 14px 28px;
      background-color: rgba(62, 160, 218, 1);
      color: #fff;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 700;
      min-width: 202px;

      &:hover {
        background-color: rgba(62, 160, 218, .9);
      }
    }

    svg {
      height: 21px;
      fill: #808FA3;

      &:hover {
        fill: #7691B6;
      }
    }

    .menu-wrapper {
      cursor: pointer;
      display: flex;

      .avatar {
        width: 40px;
        min-width: 40px;
        height: 40px;
        margin-right: 10px;
        overflow: hidden;
        border-radius: 50%;
        position: relative;

        img {
          width: 100%;
          min-height: 100%;
          min-width: 100%;
          object-fit: cover;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .menu-btn {
        svg {
          width: 12px;
          margin-right: 0;
        }
      }

    }

    ul.menu {
      position: absolute;
      right: 22px;
      top: 59px;
      width: 180px;
      border-left: 2px solid #3EA0DA;
      background-color: #FFF;
      box-shadow: 0 0 1px 0 #C0C5D2, 0 5px 11px 0 rgba(52, 52, 52, 0.12);
      padding: 16px;
      color: #353535;
      font-size: 14px;

      hr {
        height: 1px;
        border: 0.5px solid #E6E9EE;
        margin-bottom: 16px;
      }

      li {
        cursor: pointer;

        a {
          display: block;
        }

        &:not(:last-child) {
          margin-bottom: 16px;
        }

        &:hover {
          font-weight: 600;
        }
      }
    }
  }

  &__logo {
    display: block;
    width: 196px;
    min-width: 196px;

    img {
      max-width: 112px;
    }
  }

  .lang-switcher {
    min-width: 80px;
    margin-left: auto;

    &__control {
      border: none;
      background: none;
      justify-content: center;
    }

    &__value-container {
      padding: 0;
      flex-basis: auto;
      font-size: 20px;
      color: #fff;
    }

    &__single-value {
      color: #fff;
      font-size: 20px;
      font-family: 'Muli', sans-serif;
      font-weight: 700;
    }

    &__indicator {
      padding: 10px;
      color: #fff;
    }

    &__indicator-separator {
      display: none;
    }
  }

  &__user-buttons {
    margin-left: auto;

    button {
      color: @font-color-lighter;
      font-size: 24px;
      margin: 0 12px;

      &.slide-down {
        font-size: 18px;
      }

      &:hover {
        color: @font-color-dark;
      }
    }
  }
}

// Left bar
.left-bar {
  color: #E6E9EE;
  background-color: #2D3E50;
  font-size: 14px;
  width: 220px;
  min-width: 220px;
  max-width: 220px;

  li a {
    padding: 18px 30px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:hover {
      font-weight: bold;
      color: #fff;

      &::before {
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        width: 10px;
        position: absolute;
        background: linear-gradient(270deg, rgba(48, 54, 57, 0) 0%, #03A2FB 100%);
      }
    }
  }

  svg {
    height: 16px;
    fill: #E6E9EE;
    margin-right: 20px;
  }
}
