.radar {
  &-icons-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;

    .bg-icon {
      width: 9rem;
      fill: #f7f8fa;
      position: absolute;

      &.bg-icon-0 {
        top: 50%;
        left: 100%;
        transform: translate(-50%, -50%);
      }

      &.bg-icon-1 {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.bg-icon-2 {
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
      }

      &.bg-icon-3 {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &-banner {
    //margin: -20px;
    margin-top: -20px;
    padding: 20px;
    z-index: @z-index-black-overlay;
    background: @default-gradient;
    color: white;
    position: relative;

    .update-now-btn {
      position: absolute;
      right: 20px;
      top: 20px;
      font-weight: 600;
      font-size: 0.95rem;
      line-height: 0.95rem;
      padding: 12px 25px;
      border: 1px solid white;
      color: white;
      border-radius: @border-radius-block;
      transition: all 0.2s ease;

      &:hover {
        color: @font-color-dark;
        background-color: white;
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      //background-color: red;

      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid #3292cd;
      left: 50%;
      transform: translateX(-50%);
      top: -19px;
    }

    &__title {
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 1.25em;
    }

    &__subtitle {
      margin: 0.75rem 0;
      font-size: 1rem;
      line-height: 1.25em;
    }
  }

  &-header {
    position: relative;

    .indicator {
      &:not(:last-child) {
        margin-right: 1rem;
      }

      span {
        display: block;
        height: 0.25rem;
        width: 1rem;
        margin-right: 1rem;
      }

      div span {
        width: 0.5rem;
        margin-right: 0;

        &:last-child {
          margin-right: 1rem;
        }
      }
    }

    .radar-select {
      &__container {
        z-index: @z-index-dropdown;
        right: 0;
        bottom: -3.5rem;
        width: 200px;
        position: absolute;
        cursor: pointer;

        .drop-icon {
          fill: @font-color-lighter;
          width: 1.125rem;
          height: 1.125rem;
        }
      }

      &__option,
      &__control {
        cursor: pointer;
      }
    }
  }

  &-wrapper {
    display: flex;
    padding: 2rem;
    justify-content: center;
    position: relative;

    .screen-loader {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: @z-index-black-overlay;
      pointer-events: none;
      background-color: rgba(255, 255, 255, 0.75);

      svg {
        width: 75px;
        height: 75px;
      }
    }

    .radar {
      position: relative;


      .label {
        z-index: 2;
        cursor: pointer;

        p {
          white-space: nowrap;
          color: #808FA3;
          font-size: 0.825rem;
        }
      }

      .circle {
        z-index: 2;
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);

        div, svg {
          height: 1.65rem;
          fill: white;
        }
      }

      .category {
        z-index: 2;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #353535;
        font-size: 0.825rem;
        font-weight: bold;
        text-transform: uppercase;

        svg {
          height: 0.825rem;
          margin-right: 0.5rem;
        }

        &-0 {
          top: 50%;
          left: 100%;
          transform: translate(-50%, -50%) rotate(90deg);
        }

        &-1 {
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &-2 {
          top: 50%;
          left: 0;
          transform: translate(-50%, -50%) rotate(-90deg);
        }

        &-3 {
          top: 100%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .details {
        position: absolute;
        background: #FEFEFF;
        border-radius: 0.5rem;
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
        z-index: 4;

        .circle {
          left: 50%;
          top: 0;

          div, svg {
            height: 1.4rem;
          }
        }

        .line {
          width: 100%;
          height: 0.5rem;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
        }

        .wrapper {
          margin: 1rem 1.5rem;

          h4 {
            white-space: nowrap;
            margin-bottom: 0.5rem;
          }

          .info-line {
            display: flex;
            margin-bottom: 1rem;

            p {
              white-space: nowrap;
              margin-right: 4rem;
              font-size: 0.825rem;
            }

            h6 {
              font-size: 0.825rem;
              margin-left: auto;
            }
          }

          .link {
            display: flex;
            justify-content: flex-end;

            a {
              color: white;
              background: #03A2FB;
              border-radius: 0.25rem;
              display: inline-block;
              padding: 0.5rem 0.75rem;
            }
          }
        }
      }

      .radar-tooltip {
        position: absolute;
        background: #FEFEFF;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
        pointer-events: none;
        z-index: 5;

        h5 {
          margin-bottom: 0.5rem;
        }

        .info-line {
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            margin-right: 0.5rem;
          }

          p {
            margin-right: 1rem;
          }

          h6 {
            margin-left: auto;
            font-size: 0.825rem;
          }
        }
      }
    }
  }

}

