.opinion-details {
  @header-tab-height: 50px;

  .makeTheme(@color) {
    .subject-tabs {
      &__item {
        &.active {
          color: white;
          background-color: lighten(@color, 3%);
          border: 1px solid lighten(@color, 3%);
        }
      }
    }

    .topic-tabs {
      &__item {
        &.active {
          color: if(( lightness(@color) > 40% ), darken(@color, 25%), @color);
          background-color: lighten(@color, 30%);
          border: 1px solid lighten(@color, 30%);
        }
      }

    }
  }

  &.theme {
    &-red {
      .makeTheme(#EF6363);
    }
    &-green {
      .makeTheme(#69BE60);
    }
  }



  .info.with-tabs {
    padding: 24px 20px (18px + @header-tab-height + 10px) 20px;
  }

  .criteria-tabs {
    &__list {
      bottom: 0;
      left: 0;
      position: absolute;
      display: flex;
      font-size: 1.1rem;
      font-weight: 600;
    }

    &__item {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      height: @header-tab-height;
      padding: 0 1.2rem;
      color: white;

      &.active {
        color: black;
        background-color: white;
        border-top-left-radius: @border-radius-block;
        border-top-right-radius: @border-radius-block;
      }
    }
  }

  .topic-tabs,
  .subject-tabs {
    &__list {
      display: flex;
      font-size: 1rem;
      font-weight: 600;
      border-bottom: 1px solid @font-color-light;
      background-color: white;
      height: @header-tab-height + 10px;
      padding: 0.75rem 0.5rem;
    }

    &__item {
      display: inline-flex;
      align-items: center;
      align-content: center;
      cursor: pointer;
      margin: 0 0.5rem;
      padding: 0 1rem;
      border: 1px solid @font-color-light;
      border-radius: @border-radius-block;

      &.active {
        color: white;
        background-color: gray;
        border: 1px solid gray;
        border-top-left-radius: @border-radius-block;
        border-top-right-radius: @border-radius-block;
      }

      &:hover {
        border: 1px solid @font-color-lighter;
      }
    }
  }

  .topic-tabs {
    &__item.active {
      color: gray;
      background-color: lightgray;
      border: 1px solid lightgray;
    }
  }

  .sidebar {
    margin-top: 30px + 20px; //Comments header height
  }

}
