.radar {
  position: relative;

  .category {
    position: absolute;

    &-0 {
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &-1 {
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-2 {
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &-3 {
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
