.content {
  flex-grow: 1;
  background: #f7f8fa;

  .btn {
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    font-weight: bold;
    cursor: pointer;

    svg {
      height: 16px;
      margin-right: 14px;
    }

    &:not(:last-child) {
      margin-right: 16px;
    }

    &.btn-transparent {
      border: 1px solid #fff;
      color: #fff;

      svg {
        fill: #fff;
      }

      &:hover {
        background-color: #fff;
        color: #4db2ea;
        border: 1px solid transparent;

        svg {
          fill: #4db2ea;
        }
      }
    }

    &.btn-white {
      border: 1px solid #E5E9EF;
      box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.05), 0 1px 1px 0 rgba(22, 29, 37, 0.05);
      color: #6F91BA;

      &:hover {
        color: #3EA0DA;
        box-shadow: 0 0 2px 0.5px #3EA0DA;
      }
    }

    &.btn-blue {
      background-color: #3291cd;
      color: #fff;

      &:hover {
        background-color: #35a0e1;
      }
    }

    &.edit-btn {
      position: absolute;
      top: 20px;
      right: 20px;
    }

  }

  .content-header {
    position: relative;

    .avatar-wrapper {
      position: absolute;
      top: 25px;
      left: 20px;
      height: 114px;
      width: 114px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, .25);

      .avatar {
        height: 110px;
        width: 110px;
      }
    }


    .info {
      color: #fff;
      background: linear-gradient(322.07deg, #51B7EF 0%, #1974B2 100%);
      padding: 20px 20px 20px 150px;
      min-height: 82px;
      display: flex;
      justify-content: space-between;

      &.simple {
        padding: 24px 20px 18px 20px;
      }

      .text-block {


        h1 {
          font-size: 24px;
          line-height: 28px;
        }

        h2 {
          line-height: 26px;
        }

        p {
          line-height: 24px;
        }
        .location {
          display: flex;
          align-items: center;

          p {
            font-size: 14px;
          }

          svg {
            fill: #fff;
            height: 16px;
            margin-right: 8px;
          }
        }
      }

      .buttons-block {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn {
          margin-left: 1rem;
        }
      }

    }

    .content-edit-info {
      padding: 20px 20px 20px 150px;
      background-color: #fff;

      .input-block {
        margin-bottom: 16px;
        min-width: 25rem;
      }

      .buttons {
        justify-content: flex-end;
      }
    }

    .buttons {
      display: flex;
    }

    .content-nav-bar {
      height: 40px;
      background-color: #fff;
      border: 0.5px solid #E6E9EE;
      display: flex;
      padding-left: 150px;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        min-width: 144px;
        cursor: pointer;

        a {
          width: 100%;
          text-align: center;
          line-height: 40px;
          padding: 0 32px;

          &.active, &:hover {
            margin-top: -2px;
            border-bottom: 2px solid #0075B7;
            font-weight: bold;
          }
        }
      }
    }
  }

  .content-body {
    padding: 20px;
    display: flex;

    .info-block {
      position: relative;
      background-color: #fff;
      border: 0.5px solid #E6E9EE;
      padding: 20px;
      margin-bottom: 20px;

      &__title {
        margin-bottom: 20px;
        font-size: 20px;
      }

      .edit-wrapper {
        height: 28px;
        width: 28px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #03A2FB;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;

        svg {
          height: 16px;
          fill: #03A2FB;
        }
      }

      .input-block {
        margin-bottom: 0;
      }

      .info-line {
        &:not(:last-of-type) {
          margin-bottom: 13px;
        }

        p {
          font-size: 13px;
          line-height: 18px;
          color: #808FA3;
        }

        a {
          color: #353535;
          font-size: 14px;
          line-height: 22px;
        }
      }
    }

    .main {
      margin-right: 20px;
      flex: 3 0 0;
    }

    .sidebar {
      flex: 1 0 0;
    }
  }
}

// !
.edit-photo-btn {
  display: flex;
  width: 100px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #fff;
    color: #4db2ea;
    border: none;
  }
}

.info-block {
  textarea {
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/

    display: block;

    background: aliceblue;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
  }

  input {
    padding: 8px;
    background: aliceblue;
    width: 100%;
    border-radius: 4px;
    font-family: 'Muli', sans-serif;
  }
}

.save-btn {
  width: 80px;
  height: 30px;
  background-color: #2bbd73;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.save-btn-b {
  background-color: #2bbd73;
  color: white;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  height: 30px;
  margin-top: 20px;
}

.save-btn-s {
  width: 80px;
  height: 30px;
  background-color: #2bbd73;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  margin-right: 16px;
}

.save-btn-c {
  width: 80px;
  height: 30px;
  background-color: #ce5f53;
  color: white;
  font-size: 16px;
  border-radius: 4px;
}

.input-header {
  height: 28px;
  padding: 5px;
  background: #ffffff;
  margin-bottom: 16px;
  border-radius: 4px;
}

.edit-icon {
  height: 32px;
  width: 32px;
  border: 1px solid #E5E9EF;
  box-shadow: 0 0 1px 0 rgba(0, 117, 183, 0.06), 0 4px 7px 0 rgba(0, 117, 183, 0.07);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 20px;
  //cursor: pointer;


  svg {
    height: 14px;
    fill: #3EA0DA;
  }
}
