// from _userpropfile.less
.content .share-opinion .content-body {
  display: flex;
  padding: 0;
  height: 100%;

  .rate {
    &-list {
      flex-direction: column;
      flex-grow: 0;
      flex-basis: 450px;

      // fixed search 60px and header 82px;
      min-height: calc(100vh - 142px);
      background-color: white;
      border-right: 1px solid @border-color-list;

      &__heading {
        height: 80px;
        //text-align: justify;
        font-size: 1.05rem;
        line-height: 40px;
        font-weight: bold;
        background-color: white;
        padding: 18px 20px 13px 20px;
        border-bottom: 1px solid @border-color-list;

      }

      &__item {
        display: flex;
        position: relative;
        height: 80px;
        font-size: 1.05rem;
        line-height: 40px;
        padding: 18px 20px 13px 20px;
        background-color: white;
        border-bottom: 1px solid @border-color-list;

        cursor: pointer;

        &.active {
          background-color: @border-color-list;
        }

        &:hover {
          background-color: @border-color-list;
        }

        .company {

          &-label {
            position: absolute;
            top: -1px;
            bottom: -1px;
            left: 0;

            background-color: @alert-color-blue;
            width: 3px;

          }

          &-info {
            line-height: 25px;
            font-size: 1rem;
          }

          &-title {
            font-weight: bold;
          }

          &-subtitle {
          }

          &-img {
            margin-right: 10px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            overflow: hidden;

            img {
              object-fit: cover;
              height: 50px;
              width: 50px;
            }
          }

          &-alert {
            position: absolute;
            right: 1rem;
            top: 0.5rem;

            svg {
              width: 20px;
              fill: @alert-color-red;
            }
          }
        }


      }
    }

    &-details {
      background-color: @primary-bg-color;
      flex-grow: 1;

      .selected-profile {
        width: 100%;
        padding: 12px 15px;
        background-color: white;
        border-bottom: 1px solid @border-color-list;
        min-height: 80px;

        &__title {
          font-weight: bold;
          font-size: 1.05rem;
        }

        &__link {
          font-size: 0.95rem;
          color: #6F91BA;
          cursor: pointer;
        }
      }

      .details-list {
        position: relative;
        padding: 15px 15px 0 15px;

        &__block {
          position: sticky;
          background-color: @secondary-bg-color;
          bottom: 0px;
          left: 0;
          right: 0;
          min-height: 72px;
          display: flex;
          justify-content: center;
          align-items: center;


          .share-btn {
            background-color: transparent;
            border-radius: @border-radius-block;
            border: 2px solid @border-color-list;
            text-align: center;
            padding: 10px;
            color: white;
            font-size: 0.9rem;
            font-weight: bold;
            line-height: 20px;

            &:hover {
              background-color: @border-color-list;
              color: @secondary-bg-color
            }

            &:active {
              border: 2px solid @button-bg-dark-blue;
              background-color: @button-bg-dark-blue;
              color: white;
            }
          }
        }

        &__btn {
          margin-bottom: 15px;


          .add-new-btn {
            min-height: 70px;
            width: 100%;
            background-color: white;
            border: 2px dashed @border-color-list;
            text-align: center;
            padding: 24px;
            color: @font-color-blue;
            font-size: 1.15rem;
            font-weight: bold;
            line-height: 20px;

            &:hover {
              border: 2px dashed @font-color-lighter;
              color: @font-color-lighter;
            }
          }
        }


        &_preloader {
          min-height: 40vh;
          padding: 10px 15px;
        }

        &__notify {
          .notify-btn {
            margin: 0 0 0 auto;
            padding: 10px 15px;
            font-size: 0.9rem;
            font-weight: bold;
            color: white;
            background-color: @button-bg-dark-blue;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
              background-color: @button-bg-dark-blue_hover;
            }
          }
        }

        &__subject {
          position: relative;
          display: flex;
          //flex-direction: column;
          margin-bottom: 15px;
          min-height: 90px;
          background-color: white;
          border: 1px solid @border-color-list;
          //border-left: 3px solid @alert-color-red;
          padding: 10px 15px;

          &.active {
            flex-direction: column;

            .subject-arrow {
              transform: rotate(180deg);
            }

          }

          .subject-arrow {
            align-self: center;
            cursor: pointer;
            width: 15px;
            line-height: 15px;
            fill: @font-color-lighter;
            transition: transform 0.2s;
            margin-right: 20px;
          }

          .subject-add {
            position: absolute;
            top: 10px;
            right: 15px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 1px solid @border-color-list;
            color: @font-color-blue;
            font-size: 1.25rem;
            font-weight: bold;
            line-height: 32px;
            text-align: center;
            cursor: pointer;

            &:hover {
              border: 1px solid @button-bg-dark-blue_hover;
              background-color: @button-bg-dark-blue_hover;
              color: white;
            }
          }

          .subject-main {
            display: flex;
            flex-grow: 1;
            //flex-direction: column;


          }

          .subject-img {
            margin-right: 20px;
            width: 60px;
            height: 60px;

            > img {
              object-fit: cover;
              height: 60px;
              width: 60px;
              border-radius: 50%;
            }
          }

          .subject-info {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            flex-grow: 1;

          }

          .subject-title {
            font-size: 1.1rem;
            font-weight: bold;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            span {
              margin-left: 10px;
              line-height: 1rem;

              &.red svg {
                fill: @alert-color-red;
                width: 18px;
              }

              &.green svg {
                fill: @alert-color-green;
                width: 18px;
              }
            }
          }

          .subject-count {
            font-size: 0.95rem;
            color: @font-color-lighter;
          }

          .subject-progress-bar {
            background-color: @primary-bg-color;
            border-radius: 10px;
            width: 100%;
            height: 5px;

            .fill-bar {
              .makeGradient();
              border-radius: 10px;
              height: 5px;

            }
          }

          .topics-list {
            margin: 20px 0 0 0;
            padding-left: 20px;
            background-color: white;

            .topic {
              display: flex;
              align-items: center;
              justify-content: space-between;
              min-height: 50px;
              margin: 5px 5px;
              padding: 0 10px;
              background-color: white;
              border-top: 1px solid transparent;
              border-bottom: 1px solid transparent;

              &:hover {
                border-top: 1px solid @font-color-light;
                border-bottom: 1px solid @font-color-light;
              }

              &-name {
                font-size: 1rem;
                line-height: 24px;
              }

              &-checkbox {
                [type="checkbox"]:not(:checked) + label,
                [type="checkbox"]:checked + label {
                  color: black;
                  font-size: 1rem;
                  line-height: 20px;
                  padding-left: 2rem;
                  font-weight: normal;
                }
              }

              &-status {
                //justify-self: flex-end;
                display: flex;
                align-content: center;
                margin-left: 20px;

                &.red {
                  svg {
                    fill: @alert-color-red;
                  }
                }

                &.green {
                  svg {
                    fill: @alert-color-green;
                  }
                }

                svg {
                  width: 20px;
                }
              }
            }
          }

        }

      }
    }

  }
}

/* Custom body modal example */

.modal-wrapper__body {
  .m-create-subject {
    .form__row {
      margin-bottom: 10px;
    }
  }
}


.rate-opinion {
  .container {
    max-width: 700px;

    &.half {
      max-width: 350px;
      margin: unset;
    }
  }

  &.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 60px;
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    color: black;
    background-color: white;
    font-weight: bold;
  }

  .header {
    &-logo {
      max-width: 120px;
      align-self: center;
    }

    &-btn {
      line-height: 10px;
      font-weight: bold;
      font-size: 0.9rem;
      cursor: pointer;
      align-self: center;

      &:hover {
        color: @font-color-dark
      }
    }
  }
}

.content {
  .opinion-about {
    background-color: transparent;
    padding: 1.75rem 0;
    color: white;
    text-align: center;

    &__title {
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1.5rem;
      margin-bottom: 20px;
      margin-top: 10px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      margin: 10px 10px;

      padding: 4px 6px;
      border: 1px solid white;
      border-radius: @border-radius-block;

      &.active {
        background-color: white;
        color: @font-color-dark;
      }

      .score {
        font-weight: bold;
        margin-left: 0.25rem;
      }
    }
  }

  .opinion-rec {
    &__title {
      margin: 1.5rem 0;
      text-align: center;
      font-weight: bold;
      line-height: 2rem;
      font-size: 1.25rem;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      margin: 3rem 0 1rem 0;
    }

    &__btn {
      height: 140px;
      width: 140px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      padding: 1.4rem;
      color: @font-color-lighter;
      border-radius: @border-radius-block;
      border: 1px solid @font-color-light;
      font-size: 0.95rem;
      line-height: 0.95rem;
      font-weight: bold;

      svg {
        width: 60px;
        height: 60px;
        fill: @font-color-lighter;
      }

      &:hover {
        border: 1px solid @button-bg-dark-blue_hover;
        color: @button-bg-dark-blue_hover;

        svg {
          fill: @button-bg-dark-blue_hover;
        }
      }

      &.active {
        border: 1px solid @button-bg-dark-blue_hover;
        background-color: @button-bg-dark-blue_hover;
        color: white;


        svg {
          fill: white;
        }
      }

    }

    &__remind {
      margin: 60px 0;
      display: flex;
      justify-content: center;

      .ask-btn {
        min-width: 140px;
        padding: 8px 20px;
        color: @font-color-lighter;
        border: 1px solid @font-color-lighter;
        border-radius: @border-radius-block;
        font-size: 1rem;
        line-height: 1.2rem;
        font-weight: bold;

        &:hover {
          color: white;
          background-color: @font-color-lighter;
        }
      }
    }

    &__actions {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;

      .or {
        color: @font-color-lighter;
        align-self: center;
        text-align: center;
        line-height: 0.8rem;
        font-size: 1rem;
        flex-grow: 0;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          display: block;
          height: 35px;
          width: 1px;
          background-color: @font-color-lighter;
          opacity: 0.3;
          bottom: 20px;
          left: 50%;
        }

        &:after {
          content: '';
          position: absolute;
          display: block;
          height: 35px;
          width: 1px;
          background-color: @font-color-lighter;
          opacity: 0.3;
          top: 20px;
          left: 50%;
        }
      }

      .action {
        padding: 12px;
        font-size: 1.1rem;
        line-height: 1.25rem;
        flex-grow: 1;
        font-weight: bold;
        min-width: 200px;
        max-width: 300px;
        border: 1px solid @button-bg-dark-blue;
        border-radius: 6px;

        &.white {
          color: @button-bg-dark-blue;

          &:hover {
            color: @font-color-dark;
            border: 1px solid @font-color-dark;
          }
        }

        &.blue {
          color: white;
          background-color: @button-bg-dark-blue;

          &:hover {
            color: white;
            background-color: @button-bg-dark-gray;
            border: 1px solid @button-bg-dark-gray;
          }
        }

      }
    }
  }

  .opinion-form {
    min-height: 75vh;
    background-color: white;

    input[type="file"] {
      display: none;
    }


    &__title {
      font-weight: bold;
      font-size: 1.25rem;
      padding: 2rem 0;
      text-align: center;
    }

    &__subtitle {
      font-size: 1rem;
      font-weight: bold;
      padding: 1rem 0;
    }

    &__block {
      //padding: 24px;
      //margin:
    }

    &__check {
      //Custom check
      padding: 1.5rem 0;
      margin: unset;
      border-bottom: 1px solid @font-color-light;

      [type="checkbox"]:checked + label {
        color: black;
        font-size: 16px;
        line-height: 20px;

        &:before {
          background-color: @font-color-blue;
          color: white;
          border: 1px solid @font-color-blue;
          box-shadow: unset;
        }

        &:after {
          left: 0.15em;
          color: white;
          box-shadow: unset;
        }
      }

      [type="checkbox"]:not(:checked) + label {
        color: black;
        font-size: 16px;
        line-height: 20px;
      }

    }

    &__fields {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .file-upload {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid @border-color-list;
        cursor: pointer;

        svg {
          width: 15px;
          height: 15px;
          fill: @font-color-blue;
        }

        &.filled {
          border: 1px solid @alert-color-red;

          svg {
            width: 20px;
            height: 20px;
            fill: @alert-color-red;
          }

          &:hover {
            border: 1px solid @alert-color-red;
            background-color: @alert-color-red;

            svg {
              fill: white;
            }
          }
        }

        &:hover {
          border: 1px solid @button-bg-dark-blue_hover;
          background-color: @button-bg-dark-blue_hover;
          color: white;

          svg {
            fill: white;
          }
        }
      }
    }

    &__text {
      width: 100%;
      min-height: 150px;
      max-height: 350px;
      resize: vertical;
      border: 1px solid @font-color-lighter;
      border-radius: @border-radius-block;
      line-height: 20px;
      font-size: 0.9rem;
      padding: 1.25rem;
      color: @font-color-dark;

      &::placeholder {
        color: @font-color-lighter;
        font-family: 'Muli', sans-serif;
        letter-spacing: 0.5px;
      }
    }

    &__send {
      position: sticky;
      bottom: 0;
      background-color: @secondary-bg-color;
    }


  }
}

