.staff {
  margin: 1rem;
}

.table-list {
  @min-row-height: 60px;
  @min-col-size: 60px;
  @checkbox-col-size: 30px;
  //@border-color: @font-color-light;
  @border-color: #c2c6c5;
  @radius: 0px;

  @col-size: 1;
  @col-size-x2: 2;
  @col-size-x3: 3;

  .item {
    display: flex;
    min-height: @min-row-height;
    flex-grow: 1;
    flex-basis: @min-col-size;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    text-overflow: ellipsis;
    white-space: nowrap;

    &-x2 {
      flex-grow: 2;
    }
    &-x3 {
      flex-grow: 3;
    }
    &-check {
      flex-grow: 0;
      flex-basis: @checkbox-col-size;

    }

    &.error {
      position: relative;

      .error-notify svg {
        position: absolute;
        top: 5px;
        right: 0;
        fill: @alert-color-red;
        width: 15px;
        height: 15px;
        cursor: pointer;

        &:hover {
          fill: @font-color-dark;
        }
      }

      &:before {
        content: "";
        bottom: 0px;
        left: 0;
        right: 0;
        height: 2px;
        position: absolute;
        background-color: @alert-color-red;;
      }
    }

    &.drop {
      overflow: unset;
      height: unset;
      //display: unset;
      //max-height: 20px;
    }

    input[type="text"] {
      width: 100%;
      font-size: 1rem;
      text-align: center;
      //height: @min-row-height;
      background-color: transparent;
    }

    &:first-child {
      border-top-left-radius: @radius;
    }

    &:last-child {
      border-top-right-radius: @radius;
      border: unset;
    }
  }


  .table-title {
    font-size: 1.5rem;
    padding: 0.5rem 0;
  }

  .table {
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;

    text-align: center;
    .head {
      display: flex;
      font-weight: bold;
      border-top: 1px solid @border-color;
      border-bottom: 1px solid @border-color;
      padding-right: 5px; //custom scroll
      background-color: #eaeaea;

      .item {
        color: black;
      }
    }
    .body {
      display: flex;
      flex-direction: column;
      max-height: 500px;
      overflow-y: scroll;
      .makeCustomScrollbar();
    }

    .row {
      display: flex;
      align-items: center;
      //min-height: @min-row-height;
      border-bottom: 1px solid @border-color;

      &:nth-child(2n) {
        background-color: #f6f6f6;
      }

      &:hover {
        background-color: @font-color-light;
      }

      &.withErrors {
        position: relative;
        border-bottom: 1px solid transparent;
        //border-bottom: 1px solid fade(@alert-color-red, 40%);
        &:before {
          content: "";
          bottom: 0;
          left: 0;
          right: 0;
          height: 2px;
          position: absolute;
          background-color: @alert-color-red;
          opacity: 0.4;
        }
      }
    }

    &-wrapper {

    }

    &-controls {
      display: flex;
      justify-content: flex-end;
      min-height: 80px;

      .table-btn {
        max-height: unset;
        min-width: 200px;
        padding: 0.5rem 1rem;
        margin: 1rem 0.5rem;
      }

    }

  }

  .add-new-btn {
    background-color: #3EA0DA;
    margin: 1rem 0;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    min-height: @min-row-height;
  }

  .collapsed {
    @collapse-height: 100px;
    max-height: @collapse-height;
    overflow: hidden;

    .roles-select {
      &__control {
        max-height: @collapse-height;
        overflow: hidden;
      }

      &__value-container {
        max-height: @collapse-height;
        overflow: hidden;
      }
    }
  }

  .role-select-wrapper {
    flex-grow: 1;
  }

  .topic-select-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin: 10px 0;
    .select {
      flex-grow: 1;
      margin-right: 10px;
    }

    .topic-expand-btn {
      //width: 100%;
      margin: unset;
      flex-grow: 0;
      max-height: 50px;
      min-width: 150px;
      font-size: 1rem;
    }
  }

  .role-select,
  .topics-select {
    &-container {
      //display: flex;
      //flex-grow: 1;
    }
    &__control {
      border: none;
      background-color: transparent;
      //min-width: 150px
      //flex-grow: 1;
    }

    &__multi-value {
      background-color: #cccccc;
    }
  }

  .role-select {
    &__value-container {
      justify-content: center;
    }
  }

  .topics-select {
    //&-container {
    //  display: flex;
    //  flex-grow: 1;
    //}

    &__group-heading {
      color: black;
      font-weight: 600;
      align-self: center;
      font-size: 1rem;
      //line-height: 1.2rem;
      margin: 0;
      padding: 0.5rem 0.5rem;
      cursor: pointer;
    }

    &__group-head {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      background-color: #dedede;
      cursor: pointer;

      .remain {
        color: white;
        width: 100%;
        justify-self: flex-end;
        font-size: 0.8rem;
        padding: 4px;
        align-self: center;
        align-content: center;
        width: 26px;
        height: 26px;
        //line-height: 20px;
        border-radius: 50%;
        background-color: @secondary-bg-color;
      }
    }

    &__value-container {
    }

    &__indicators {
      //max-height: auto;
    }

    &__menu {
    }

    &__menu-list {
    }

    &__option {
    }
  }
}


